.header {
  width: 100%;
  background: var(--background-color);
  color: var(--color);
  backdrop-filter: blur(20px);
  z-index: 345;
  border-bottom: 1px solid #000;
  transition: all .5s;

  &-general {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__logo {
      color: var(--color);
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      left: 10px;
    }
&__logos {
  a {
    text-decoration: none;
  }
}
    &__title {
      display: flex;
      margin-right: 100px;

      a {
        text-decoration: none;
      }
    }

    &__item {
      color: var(--color);
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      padding: 0 20px;
    }

    &__btn {
      padding: 10px 20px;
      background: var(--background);
      color: var(--color);
    }
  }
}