.catalog {
  background: var(--background);
  padding: 50px 0;
  min-height: 100vh;
  transition: all .5s;
  &-general {
    &__title {
      color: var(--block);
    }
    &__price {
      color: var(--block);
    }
  }
}