.faworite {
  padding: 50px 0;
  background: var(--background);
  min-height: 100vh;
  transition: all .5s;
  &-general {
    &__btn {
      color: var(--color);
    }

    &__item {
      color: var(--block);
    }

    &__title {
      color: var(--background-color);
    }
  }
}


